<meta charset="UTF-8">
<html>
<head>
    <link type="text/css" rel="stylesheet" href="https://raw.githubusercontent.com/jmvillaveces/biojs-vis-keggviewer/master/css/jquery-ui.css">

    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='biojs-vis-keggviewer1.0.1.js') }}"></script>
    <script type="text/javascript">
        function showhide(id)
            {
                if (document.getElementById)
                {
                    obj = document.getElementById(id);
                    if (obj.style.display == "none")    //check if already hidden, if yes make it appear
                         obj.style.display = "";
                    else
                         obj.style.display = "none";    //if already appearing then hide here
                }
            }
    </script>
</head>

<title>Pathway viewer</title>

<div class="span3">
    <div id='selections'>
        {% if multiple_genes %}
            <h4>Please select a pathway:</h4>
            <br>
            <select id='selected-pathway' onChange='clearBox("pathway-viewer");pathway=this.value;rerun()'>
                {% for item in pathway %}
                    <option value={{ item }}>{{ pathway_name[pathway.index(item)] }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <p>
            <h5>Genes requested:</h5>
            <br>
            {% if not multiple_genes %}
                <a href='#' onclick="showhide('geneinfo'); return(false);">{{ genes_req }}</a>
                <div id="geneinfo" style="display:none;"> {{ gene_info }}</div>
            {% else %}
                {% for gene in genes_req %}
                    <p><a href='#' onclick="showhide('{{ loop.index0 }}'); return(false);">{{ gene }}</a></p>
                    <div id="{{ loop.index0 }}" style="display:none;"> {{ gene_info[loop.index0] }}</div>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</div>

<div class="offset4">
    <div id='pathway-viewer' style='left:350px; top:350px; position=relative;height=500px;width=100%'></div>
</div>

<script>
    var rootDiv = document.getElementById('pathway-viewer');
    var biojsviskegg = require("biojs-vis-keggviewer");

    // Use heroku proxy
    var proxy = function(url){
        return 'https://cors-anywhere.herokuapp.com/'+url;
    };

    {% if multiple_genes %}
        var e = document.getElementById('selected-pathway');
        pathway = e.options[e.selectedIndex].value;
    {% else %}
        var pathway = '{{ pathway }}'
    {% endif %}   

    function rerun() {  

        biojsviskegg.pathway(pathway).proxy(proxy).target(rootDiv).init();
    }

    function clearBox(elementID)
    {
        document.getElementById(elementID).innerHTML = "";
    }
    rerun()

</script>

</html>