<meta charset="UTF-8">
<html>
<link type="text/css" rel="stylesheet" href="https://raw.githubusercontent.com/jmvillaveces/biojs-vis-keggviewer/master/css/jquery-ui.css">

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='biojs-vis-keggviewer1.0.1.js') }}"></script>

<div id='selections'>
{% if multiple_genes %}
Please select a pathway:
<select id='selected-pathway' onChange='clearBox("pathway-viewer");pathway=this.value;rerun()'>
    {% for item in pathway %}
        <option value={{ item }}>{{ item }}</option>
    {% endfor %}
</select>
{% endif %}
</div>

<div id='pathway-viewer' style='left:350px; top:350px; position=relative;height=500px;width=100%'></div>

<script>
    var rootDiv = document.getElementById('pathway-viewer');
    var biojsviskegg = require("biojs-vis-keggviewer");

    // Use heroku proxy
    var proxy = function(url){
        return 'https://cors-anywhere.herokuapp.com/'+url;
    };

    {% if multiple_genes %}
        var e = document.getElementById('selected-pathway');
         pathway = e.options[e.selectedIndex].value;
    {% else %}
        var pathway = '{{ pathway }}'
    {% endif %}   

    function rerun() {  

        biojsviskegg.pathway(pathway).proxy(proxy).target(rootDiv).init();
    }

    function clearBox(elementID)
    {
        document.getElementById(elementID).innerHTML = "";
    }
    rerun()

</script>

</html>