<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathway viewer</title>

    <div class="offset1">
	    <h1>Pathway viewer</h1>
    </div>
</head>
<body>

<div class="offset1 span4">
	<form action="/data" method="POST">
		<div class="input-group">
			Enter KEGG gene names here:
		    <textarea autofocus name="gene-names" class="form-control custom-control" rows="10" style="resize:none;" placeholder="FLOT1"></textarea>
		    <br>
		    <div align="left">
		    	<input type="submit" class="btn btn-default" name="my-form" value="Send">
		    </div>
		</div>
	</form>
</div>
<div class="span2">
	<span class="icon icon-question-sign"></span>
	<p>This application uses the KEGG API to determine which metabolic pathways are present in a given sample and allows for interactive visualization of the pathways.</p>
	<a href="https://github.com/arundurvasula/pathway-viewer">Github</a>
</div>



</body>
</html>